* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
}

/* HEADER */
.header {
  background-color: #c22929;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #f1c40f;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

.nav a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url("pm") center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-content {
  color: white;
  max-width: 600px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background-color: #f1c40f;
  color: #1f3c88;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
}

.btn:hover {
  background-color: #d4ac0d;
}
/* SERVICIOS */
.services {
  padding: 80px 60px;
}

.services h2 {
  font-size: 32px;
  color: #1f3c88;
  margin-bottom: 40px;
  border-bottom: 4px solid #c22929;
  display: inline-block;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: #faf7ef;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
  color: #555;
}

.card p {
  color: #777;
}

/* SOBRE MI */
.about {
  padding: 80px 60px;
  background: #f9f9f9;
}

.about-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about img {
  width: 280px;
  border-radius: 10px;
}

.about h2 {
  color: #1f3c88;
  margin-bottom: 20px;
  border-bottom: 4px solid #f1c40f;
  display: inline-block;
}

.about p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* CONTACTO */
.contact {
  background: #566b75;
  color: white;
  padding: 80px 60px;
}

.contact h2 {
  color: #1f3c88;
  margin-bottom: 40px;
  border-bottom: 4px solid #f1c40f;
  display: inline-block;
}

.contact-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contact-info p {
  margin-bottom: 15px;
}

.free {
  margin-top: 20px;
  font-weight: bold;
}

.map img {
  width: 250px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25d366;
  color: white;
  padding: 15px 22px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container,
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .hero {
    padding: 30px;
    text-align: center;
  }
}
